<div class='m-2 block-task'>

 <p> <b>Задача 04</b> </p>
<p>Написать игру "крестики-нолики".</p> 
<p>По первому клику текст кнопки становится крестик и кнопка дизейблится, по второму - нолик, и так далее.</p>

<p>Когда собрана последовательность, все кнопки дизейблятся и внизу пишется кто выиграл.<br />
  По клику на "start new game" все сбрасывается.<br />
  Давай разделим задачу на несколько частей: <br /><br />
  1 этап. Придумай стор, как хранить данные об игре, и намапь этот стор на кнопки. То есть сделай просто вывод из стора на кнопки.
  Ручками меняешь в ts-файле данные и на кнопках появляются либо крестики, либо нолики<br />
  2 этап. Добавить функцию клика на кнопке, щелкаем по кнопке, стор меняется, по той кнопке, по которой щелкнули, в сторе меняется
  соответствующее значение. Сюда же втыкаем логику, что каждый новый клик это смена крестика и нолика. <br />
  3 этап. Можно реализовать кнопку сброса игры.<br />
  4 этап. Полностью завершить логику. После клика на кнопку она дизейблится, игра играется до последней заполненной кнопки или
  до победы крестика или нолика.</p>
</div>


<div class='m-2 flex'>
  <button >Start New Game</button>
</div>

<div class='m-2 game-buttons'>
  <div class="aria-wrapper">
    <div id="area">
      <div (click)="markArea($event)" *ngFor=" let box of boxes$$ | async" class="box">{{box}}</div>
    </div>
  </div>
</div>

<div class='m-2 flex'>
 <p> X has won the game</p>
</div>

<div class="flex">

  <button class="btn-back" routerLink='/tasks'>Back</button>
</div>
