.block-task {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5% 10%;
}

p {

    font-size: 20px;
    font-family: 'Dancing Script', cursive;
    color: rgb(165, 3, 84);
    text-align: justify;
    font-family: 'Marck Script', cursive;
   
}
code{
    font-family: 'Dancing Script', cursive;
    font-size: 25px;
    font-weight: bolder;
    color: rgb(141, 4, 72);
}

b {
    font-size: 25px;
}
button {
    font-size: 25px;
    width: 200px;
    height: 35px;
    background-color: rgb(165, 3, 84);
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-size: 20px;
    font-weight: bold;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
}

button:active {
    border: 3px solid rgb(121, 3, 62);
    box-shadow: 2px 2px 15px gray;
    transform: 1s;

}
.flex{
    display: flex;
    justify-content: center;
}
.btn-back{
    
    width: 100px;
}
.flex{
    display: flex;
    justify-content: center;
}