<!-- <div *ngIf="isLoading" class="modal-block" [todoId]="selectedTodoId"">
  <app-edit-todo [world]="world"></app-edit-todo>
</div> -->

<div *ngIf="isLoading" >
  <app-edit-todo   *ngIf="selectedTodoId" [todoId]="selectedTodoId"></app-edit-todo>
</div>
<ng-container>
  <div class="todo-list">
    <div class="todo" *ngFor="let i = index; let todo; of: todos$$ | async">
      <span class="todo_span mr-2">{{ i + 1 }}. {{ todo.text }} </span>
      <input class="todo_input" type="checkbox" [checked]="todo.isDone" />
      <button (click)="editTodoForm(todo.id)">-</button>
      <button (click)="deleteTodo(todo.id)">x</button>
    </div>
  </div>
</ng-container>

