h3 {
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    color: rgb(165, 3, 84);
    text-align: center;
    margin-top: 50px;
}
ul{
    text-align: center;
    list-style-type: none;
    margin-left: 120px;
}
a{
    font-size: 35px;
    font-family: 'Dancing Script', cursive;
    color: rgb(165, 3, 84);
    text-decoration: none;
    
}
a:hover{
    text-shadow: 2px 2px 3px gray;
    
}
li{
    margin-top: 20px;
}